manim==0.19.*
moviepy==1.0.*
ffmpeg-python==0.2.*
pydantic==2.*
typer==0.12.*
rich==13.*
python-dotenv==1.0.*
langgraph>=0.2
langchain>=0.2
jupyter == 1.1.1
crawl4ai ==0.7.3
# crawl4ai-setup # This command is used to install the necessary dependencies for the crawl4AI project.
supabase ==2.18.1
langchain_google_genai ==2.1.9
